{% extends 'apps/base.html' %}
{% block content %}
<br>
<br>
<br>
    <div class="container">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Matéria</th>
                <th>Título</th>
                <th>Pergunta</th>
            </tr>
            {% for pergunta in perguntas %}
            <tr>
                <td>{{pergunta.materia}}</td>
                <td><a href="{% url 'responder' pergunta.id_pergunta %}">{{ pergunta.titulo }}</a></td>
                <td>{{pergunta.pergunta}}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="navbar-brand" href="{% url 'criar_perguntas' %}">
            <h5>Criar Pergunta</h5>
        </a>
    </div>
   
{% endblock content %}