{% extends 'apps/base.html' %}
{% block content %}
<br>
<br>
<br>
    <div class="container">
        <table name="tabela" class="table table-bordered table-striped">
            <tr>
                <th>Título da Sala</th>
                <th>Matéria de Preferência</th>
            </tr>
            {% for sala in salas %}
            {% if bool %}
                {% if sala.preferencia == filtro.filtro_materia %}
                    <tr>
                        <td>{{sala.titulo_sala}}</td>
                        <td>{{sala.preferencia}}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>{{sala.titulo_sala}}</td>
                    <td>{{sala.preferencia}}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
        <a class="navbar-brand" href="{% url 'criar_salas' %}">
            <h5>Criar Salas</h5>
        </a>
        <a class="navbar-brand" href="{% url 'filtrar_salas' %}" name="filtrar_salas">
            <h5>Filtrar Salas</h5>
        </a>
    </div>
   
{% endblock content %}