{% extends 'apps/base.html' %}
{% block content %}
    <div class="center">
        <form id="metas-form" method="post" action="{% url 'acessar_meta' %}">
            {% csrf_token %}
            <div class="botoes">
                <label for="7 perguntas">7 Perguntas</label>
                <input type="radio" name="meta" id="7 perguntas" value="7 perguntas">
                <br>
                <label for="14 perguntas">14 Perguntas</label>
                <input type="radio" name="meta" id="14 perguntas" value="14 perguntas">
                <br>
                <label for="21 perguntas">21 Perguntas</label>
                <input type="radio" name="meta" id="21 perguntas" value="21 perguntas">
                <br>
                <label for="28 perguntas">28 Perguntas</label>
                <input type="radio" name="meta" id="28 perguntas" value="28 perguntas">
                <br>
                <label for="35 perguntas">35 Perguntas</label>
                <input type="radio" name="meta" id="35 perguntas" value="35 perguntas">
            </div>
            <br>
            <button name= "enviar_meta" type="submit">Enviar</button>  
        </form>        
{% endblock content %}