<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .login{
        background: #000000;
        border-radius: 10px;
        width: 400px;
        padding: 40px;
    }
    .login h2{
        margin-bottom: 30px;
        font-size: 30px;
        color: #f7f4f4;
        text-align: center;
    }
    .login .box-user{
        position: relative;
    }
    .login .box-user input{
        width: 100%;
        padding: 10px 0;
        outline: none;
        border: 0;
        background: transparent;
        border-bottom: 1px solid #000000;
        color: #000000;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .login .box-user label{
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        color: #000000;
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
    }
    .login .box-user input:focus~label,
    .login .box-user input:valid~label
    {
        top: -20px;
        left: 0;
        color: #000000;
        font-size: 12px;
    }
    .btn{
        position: relative;
        display: inline-block;
        padding: 12px 20px;
        color: #000000;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
        margin-top: 20px;
        transition: .5s;
       
    }
    .btn:hover{
        background: #111111;
        border-radius: 5px;
        color: #000000;

    }
    .btn span{
        position: absolute;
        display: block;
    }
</style>

{% extends 'apps/base.html' %}
{% block content %}
    <div class="center">
        <form class="login">
            <h2>{{title}}</h2>

            {% for text in texts %}
            <div class="box-user">
                <input type="text" nome="" required>
                <label>{{text}}</label>
            </div>
            {% endfor %}

            {% for password in passwords %}
            <div class="box-user">
                <input type="password" nome="" required>
                <label>{{password}}</label>
            </div>
            {% endfor %}

            <div>
                {% for link in links %}
                <a href="{% url link.ref %}" class="forget">{{link.title}}</a>
                <br>
                {% endfor %}
            </div>

            <a href="{% url entrar %}" class="btn">Entrar</a>
        </form>
    </div>
{% endblock content %}